#contact_modal {
    display: none;
    
    place-content: center;
    

}

#lightbox_modal {
    display: none;
    
    place-content: center;
    position: fixed;
    width: 100%;
    right: 0;
    top: 0;
    height: 100%;
    z-index: 1;

}

i {
    align-self: center;
}

.photograph-header {
    display: flex;
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
}

.photographer-name {
    color: #D3573C;
    font-weight: 400;
    font-size: 64px;
    line-height: 83px;
    margin: 0;
}
.photographer-description-location {
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: #901C1C;
}

.photographer-description-bio {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
}

.photograph-header img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.contact_button {

    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.photograph-section {
    margin: 0 100px;
}

.sort {
    padding: 1rem 0;
    font-size: 18px;
    font-weight: bold;
}
#Tri {
    background-color: #911C1C;
    color: white;
    border-radius: 5px;
    border: 2px solid #911C1C;
    height: 30px;
}

.galery-section {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr; 
    justify-items: center;
    margin-bottom: 100px;
}

.galery-section article {
    width: 25vw;
    height: fit-content;
    object-fit: cover;
}

.article-media {
    width: 100%;
    height: 25vw;
    object-fit: cover;
    border-radius: 5px;
}

.article-media-likes {
    display: inline-flex;
    gap: .5rem;
    color: #911C1C;
    font-size: 24px;
    margin: 0;
    font-weight: bold;
    align-items: center;
}

.article-media-likes > * {
    margin: 0;
}


.galery-section article>div {
    display: flex;
    justify-content: space-between;
}

.galery-section article>div>p {
    color: #911C1C;
    font-size: 24px;
    margin: 0;
}

i[data-isliked="true"] {
    color: red;
}



.encart-tarif {
    display: flex;
    justify-content: space-evenly;
    min-width: 340px;
    height: 60px;
    position: fixed;
    bottom: 0;
    right: 2rem;
    background: #DB8876;
    border-radius: 5px 5px 0 0;
    align-items: center;
    padding: 1rem;
    color: #000000;
    font-size: 24px;
    font-weight: bold;
}


.encart-tarif p {
    margin: 0;
}

.encart-tarif_likes {
    display: inline-flex;
    gap: 1rem;
}

.modal {
    position: absolute;
    top: 5rem;
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
    height: auto;
}

.modal header img {
    cursor: pointer;
    color: #911C1C;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
    margin: 0 5% 0 0;
}

.lightbox {
    position: absolute;
    top: 5rem;
    border-radius: 5px;
    background-color: #FAFAFA;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    font-size: 25px;
    color: #901C1C;
}



.lightbox i {
    cursor: pointer;
}

.lightboxFigure {
    margin: 1rem 0;
}

.lightbox_header {
    display: inline-flex;
    justify-content: end;
    width: 100%;
    
}
.lightbox_header i {
    padding: 1rem 1rem 0 0;
}
#lightbox_modal_media {
    max-width: 60vw;
    max-height: 75vh;
    max-width: 60dvw;
    max-height: 75dvh;
    border-radius: 4px;
}

#lightbox_modal_main {
    display: flex;
    align-items: center;
}

#previous, #next {
    margin: 1.5rem;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

#message {
    height: 136px;
}

.formData[data-error]::after {
    content: attr(data-error);
    font-size: 18px;
    color: red;
    display: block;
    margin-top: 7px;
    margin-bottom: 7px;
    text-align: right;
    line-height: 0.3;
    opacity: 0;
    transition: 0.3s;
  }
  .formData[data-error-visible="true"]::after {
    opacity: 1;
  }
  .formData[data-error-visible="true"] .text-control {
    border: 2px solid red;
  }